
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
}

body{
    background-color: #0A192f;
}
/** navbar **/
.navbar{
    height: 50px;
    width: 100%;
    
    
}
ul{
    display: flex;
    justify-content:space-evenly;
}
.nav{
    
    color: #CCd6f6;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
a{
    color: #CCd6f6;
    margin-left: 80px;
    text-decoration: none;
}
i{
    color: #64FFDA;
    font-weight: 700;
    font-size: 30px;
    margin-right: 200px;
    
}

button{
    border: 2px solid #64FFDA;
    width: 90px;
    border-radius: 2px;
    color: #64FFDA;
    background-color: #64FFDA1A;
    margin-bottom: 3px;
}
button:hover {
    background-color: #0A192f;
}

span{
    color: #64FFDA;
}
span:hover{
    border-bottom: 1.5px solid #64FFDA;
}

.border:hover{
    color: #64FFDA;
}

/** main **/
.heading{
    margin: 50px 0px 0px 150px;
}

.ahmad-jajja{
    font-size: 30px;
    font-weight: 800;
    margin-left: 140px;
}

.first-paragraph{
    font-size: larger;
    margin-left: 140px;
}

.ali{
    color: #64FFDA;
}
/** About-section **/
.about-section{
    display: flex;
}

.about-hr{
    width: 350px;
    margin: 20px 0px 0px 300px;
    border-top: 2px solid #8892b0;
}

.about-para{
    width: 1200px;
    height: 970px;
    display: flex;
}

.about-para p{
   font-weight: 700;
    
}

.ahmad-img{
    width: 250px;
    height: 450px;
    background-image: url("portfilio-images/Ahmad-jajja-img.jpg");
    background-size: cover;
    margin-top: 10px;
     margin-left: 4px;
    outline: 2px solid #64FFDA;
    outline-offset: 5px;
}


