.link-container{
    margin-left: 35%;
    border: 2px solid black;
    display: inline-block;
    padding: 4px;

}
.header{
    border: 1px solid black;
    margin: 2px;
}
body{
    background-color: #fc8803;
}